.apply-card {
  margin-left: 260px;
}

form{
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
}

h2{
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.apply-form .row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.row p {
  margin-top: 8px;
  font-size: 15px;
}

.field {
  flex: 1;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
  margin-bottom: 20px;
  transition: border 0.3s;
}

.upload-box:hover {
  border-color: #1976d2;
  color: #1976d2;
}

.upload-box mat-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.fa-arrow-up-from-bracket{
  font-size: 20px;
}
.fa-file{
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
